html {
	font-family: 'Ubuntu', sans-serif;
}
/**************************************************************************/
  /*NAVBAR*/


/**************************************************************************/
	/*BODY*/

body {
	margin: auto 0;
	display: block;
}

	/*SECTION*/

  /*LENDING*/
.container-fluid {
  text-align: center;
  text-decoration: none;
  font-size: 10vw;
}

.typewrite {
  font-size: 10vw;
}
.img-fluid {
  width: 100%;
  background: lightblue;
  border-radius: 10rem;
  margin-top: 15px;
}
#arrow {
  width: 20vw;
  height: initial;
  border-radius: 100%;
}
  /*ABOUT*/

#about > .card{
  width: 90vw;
  border-radius: .5rem;
}

#hello {
    font-size: 5vw;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #08AEEA;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: 5vw 5vw 0.5vw 5vw;
}
.card-title {
  font-size: 9vw;
  font-weight: bold;
}
.card-subtitle {
  font-size: 5vw;
}
.list-group-item , .list-group-horizontal {
  background: none;
  border: none;
}
.icon {
  width: 4vw;
  height: inherit;
}
.card-text {
  font-size: 5vw;
}
.social{
  width: 10vw;
  height: inherit;
}
.btn-info , .btn-primary {
  font-size: 5vw;
  border-radius: .7rem;
}
/*Servizi*/
#service, .title {
  text-align: center;
}
.title {
  font-size: 10vw;
}
.txt1 {
  font-size: 7vw;
}
/*STORY*/
.o-timeline {
  font-size: 5vw;
}
/*skills*/
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 95vh;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {;
  color: white;
  transform: rotateY(180deg);
}



/**************************************************************************/
	/*RESPONSIVE*/
	/*NAVBAR*/
@media only screen and (min-width: 900px) {
#mobile-menu {
  display: none;
  }
.nav-ul {
  display: flex;
  flex-direction: row;
  }
}	


/**************************************************************************/
  /*COOK BG*/
.blaze {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}


/**************************************************************************/
  /*ANIMATION*/

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}