html {
	font-family: 'Ubuntu', sans-serif;
}
/**************************************************************************/
  /*NAVBAR*/


/**************************************************************************/
	/*BODY*/

body {
	margin: auto 0;
	display: block;
}

	/*SECTION*/

section {
	height: 100vh;
}



.card {
  width: 90vw;
  border-radius: 2rem;
}

#hello {
    font-size: 5vw;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #08AEEA;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: 5vw 5vw 0.5vw 5vw;
}
.card-title {
  font-size: 9vw;
  font-weight: bold;
}
.card-subtitle {
  font-size: 5vw;
}
.list-group-item , .list-group-horizontal {
  background: none;
  border: none;
}
.icon {
  width: 4vw;
  height: inherit;
}
.card-text {
  font-size: 5vw;
}
.social{
  width: 10vw;
  height: inherit;
}
.btn-info {
  font-size: 5vw;
}




/**************************************************************************/
	/*RESPONSIVE*/
	/*NAVBAR*/
@media only screen and (min-width: 900px) {
#mobile-menu {
  display: none;
  }
.nav-ul {
  display: flex;
  flex-direction: row;
  }
}	


/**************************************************************************/
  /*COOK BG*/
.blaze {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}