.card-image {
    width: 30%;
    top: -2rem;
    position: relative;
    padding: 3;
}
.card:hover {
    box-shadow: none !important;
    cursor: pointer;
    animation-duration: 0.5s;
}

.hero-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
    color: black;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
}

