html {
	margin: 0px;
	font-family: 'Rubik', sans-serif;
}
body {
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.display-1 {
	padding: 3rem 0 3rem 0;
}
.FancyTitle {
	color: #6719FF;
	text-shadow: 2px 2px #ffc107;
}
h5 {
	padding: 0 10rem 0 10rem;
}
section {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
/*NAV*/
nav, footer {
	background: #6719FF;
}
/*HEADER*/
header {
	background: #6719FF;
	color: #ffc107;
	border-radius: 0 0 10rem 10rem;
	max-height: 85vh;
}
header > img {
	height: 30vh;
	margin: 3rem 0 3rem 0;
}
/*Products*/
#Products > .card {
	width: 20rem;
}
#Products > .card > .card-body >.btn-primary {
	background-color: #6719FF; 
	border-color: #6719FF;
	transition: transform .5s ease;
}
#Products > .card > .card-body >.btn-primary:hover {
	transform: scale(1.05);
	background-color: #6719FF; 
	border-color: #6719FF;
}
#Products > .card > .card-body >.btn-primary:active {
	background-color: #5B06FF !important; 
	border-color: #5B06FF !important;
}

}
/*CONTACTS*/
#Contacts > img {
	width: 20rem;}
.fa-envelope, .fa-map-pin {
	color:#ffc107;
	background-color: #6719FF;
	list-style: none;
	font-size: 5rem;
	width: 10rem;
	height: 10rem;
	border-radius: 5rem;
	padding-top: 2.5rem;
	transition: transform .5s ease;
}
.fa-envelope:hover, .fa-map-pin:hover {
	 transform: scale(1.2);
}
/*FOOTER*/
footer > .row > .col >  ul {
	list-style: none;
}
/*FONTS*/
.handwrite {
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #6719FF;
	text-shadow: 2px 2px #ffc107;
}

/*RFS*/
/*Responsive mobile*/

@media (max-width: 800px) { 
	legend { 
		font-size: calc(1.275rem + 0.3vw); } 
	h1, .h1 { 
		font-size: calc(1.375rem + 3vw); } 
	h2, .h2 { 
		font-size: calc(1.325rem + 1.8vw); } 
	h3, .h3 { 
		font-size: calc(1.3rem + 1.2vw); } 
	h4, .h4 { 
		font-size: calc(1.275rem + 0.6vw); }
	h5, .h5 {
		font-size: calc(1.250rem + 0.3vw);
		padding: 0 0 0 0;
	}
	.display-1 { 
		font-size: calc(1.725rem + 5.7vw); } 
	.display-2 { 
		font-size: calc(1.675rem + 5.1vw); } 
	.display-3 { 
		font-size: calc(1.575rem + 3.9vw); } 
	.display-4 { 
		font-size: calc(1.475rem + 2.7vw); } 
	.close { 
		font-size: calc(1.275rem + 0.3vw); } 
	#Products > .card {
	width: 80vw;}
	#Contacts > img {
	width: 80vw;
	background: #6719FF;
	border-radius: 20rem;
	}
	}


