html {
	margin: 0px;
}
body {
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*NAV*/
nav, footer {
	background: #6719FF;
}
.active {
	font-family: 'Monda', sans-serif;
}
/*HEADER*/
header {
	background: #6719FF;
	color: #ffc107;
}
header > img {
	width: 18rem;
}
/*Products*/
.card {
	width: 18rem;
}
/*CONTACTS*/
#Contacts > img {
	width: 18rem;
	background: #6719FF;
	border-radius: 18rem;
}
#Contacts > ul > li{
	color: white;
	background-color: #6719FF;
}
/*FOOTER*/
footer > .row > .col >  ul {
	list-style: none;
}
/*FONTS*/

.Pacifico {
font-family: 'Pacifico', cursive;
}
.Questrial {
font-family: 'Questrial', sans-serif;
}
.Monda {
font-family: 'Monda', sans-serif;
}
/*RFS*/
/*Responsive fonts size*/

@media (max-width: 1200px) { 
	legend { 
		font-size: calc(1.275rem + 0.3vw); } 
	h1, .h1 { 
		font-size: calc(1.375rem + 1.5vw); } 
	h2, .h2 { 
		font-size: calc(1.325rem + 0.9vw); } 
	h3, .h3 { 
		font-size: calc(1.3rem + 0.6vw); } 
	h4, .h4 { 
		font-size: calc(1.275rem + 0.3vw); } 
	.display-1 { 
		font-size: calc(1.725rem + 5.7vw); } 
	.display-2 { 
		font-size: calc(1.675rem + 5.1vw); } 
	.display-3 { 
		font-size: calc(1.575rem + 3.9vw); } 
	.display-4 { 
		font-size: calc(1.475rem + 2.7vw); } 
	.close { 
		font-size: calc(1.275rem + 0.3vw); } 
	}

