:root {
    --primary: #D483AE;
}

* {
    margin: 0;
    color: white;
    font-family: Poppins;
}

body {
    background-color: var(--primary);
}

hr {
    border: 1px solid white;
    border-radius: 10%;
    width: 60%;
}
/* STYLE */
h1 , li, ul, h3 {
    overflow: hidden;
}
a {cursor: pointer;}
h1 {font-family: Nunito;}


/*HOME*/
#home {height: 100vh;}
#home>h1 {
    text-align: center;
    font-size: 3rem; 
    margin: 3rem 0 3rem 0;
    font-weight: bolder;
    color: white;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#home>.card {
    width: auto;
    border: 0px;
    border-radius: 10%;
    margin-top: 5rem;
    -webkit-box-shadow: inset 1px 1px 30px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 30px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 30px 0px rgba(0, 0, 0, 0.7);
}
#home > .card .card-img {
    -webkit-animation: scale-in-br 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.5s both;
    animation: scale-in-br 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.5s both;
    width: 140%;
    margin-left: -5rem;
    margin-bottom: -2rem;
    margin-top: -3rem;
}

#home>.card p {
    color: var(--primary);
    margin: 0 0 2rem 1.4rem;
    font-family: 'Pacifico', cursive;
    height: 2rem;
}
#home > .card > a > div {
height: 10rem;
}
/* ARROW */
#home i {
  font-size: 5rem;
  padding-top: 3rem;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;

}


/* BENEFIT */
#benefit h1 {
    text-align: left;
    font-weight: bolder;
    margin-left: 1rem;
    margin: 1rem 0 0 1rem;
}
#benefit li:first-child {
  margin-top:1rem;
}
#benefit li {
    width: 100%;
    list-style: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px 0 0 20px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

#benefit hr {
    margin-right: auto;
}

/* DESIGN */
#design {
    padding-bottom: 1rem;
    text-align: right;
}

#design>h1 {
    font-weight: bolder;
    margin-right: 1rem;
}

#design>div>div {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border: 0px;
}
#design>div>.card {
    border-radius: 35%;
    border: 0.2em solid pink;
    /*margin: 1rem;*/
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#design>div>div>.card-img {
    width: 100%;
    border-radius: 35%;
    border: 0.2em solid pink;
}

#design>hr {
    margin-left: auto;
}

/* BUY */
#buy {
    overflow: hidden;
}
#buy>h1 {
    font-weight: bolder;
    margin-left: 1rem;
}

#buy>hr {
    width: 90%;
}

#buy ul {
    list-style: none;
}
#buy li {
    margin-bottom: 2rem;
}
#buy li:first-child {
    margin-top: 4rem;
}

#buy i {
    margin-left: 1rem;
    margin-right: 1rem;
}
#buy > .container {
    padding: 3rem;
}
#buy a {
    width: 100%;
    border: 5px solid white;
    -webkit-animation: jello-horizontal 2s 10s infinite both;
    animation: jello-horizontal 2s 10s infinite both;
}


/* PRESETS */

/*RFS*/
@media (max-width: 1200px) { legend { font-size: calc(1.275rem + 0.3vw); } h1, .h1 { font-size: calc(1.375rem + 1.5vw); } h2, .h2 { font-size: calc(1.325rem + 0.9vw); } h3, .h3 { font-size: calc(1.3rem + 0.6vw); } h4, .h4 { font-size: calc(1.275rem + 0.3vw); } .display-1 { font-size: calc(1.725rem + 5.7vw); } .display-2 { font-size: calc(1.675rem + 5.1vw); } .display-3 { font-size: calc(1.575rem + 3.9vw); } .display-4 { font-size: calc(1.475rem + 2.7vw); } .close { font-size: calc(1.275rem + 0.3vw); } }

@font-face { font-family: Nunito; src: url('Nunito-Bold.ttf'); } 
@font-face { font-family: Poppins; src: url('Poppins-Regular.ttf'); } 
@font-face { font-family: Pacifico; src: url('Pacifico-Regular.ttf'); } 

/* ----------------------------------------------
 * Generated by Animista on 2019-11-25 0:26:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-br
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-br {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-br {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
        
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
/*
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
/*BOUNCE*/
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}