* {
    margin: 0;
    color: white;
    overflow-x:hidden ;
    font-family: Poppins;
}

body {
    background-color: var(--primary);
}

/* STYLE */
    
div, h1 , li, ul, h3 {
    overflow: hidden;
}
h1 {font-family: Nunito;}
#home>h1 {
    text-align: center;
    margin: 5rem 0 5rem 0;
    font-weight: bolder;
    color: white;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    overflow: hidden;
}

#home>.card {
    width: auto;
    border: 0px;
    border-radius: 10%;
    margin-bottom: 3rem;
    -webkit-box-shadow: inset 1px 1px 30px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 30px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 30px 0px rgba(0, 0, 0, 0.7);
}
#home > .card .card-img {
    -webkit-animation: scale-in-br 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.5s both;
    animation: scale-in-br 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.5s both;
    width: 100%;
}

#home>.card p {
    color: var(--primary);
    margin: 0 0 2rem 1.5rem;
    font-family: 'Pacifico', cursive;
    height: 2rem;
}

/* ARROW */
a.button {
    position: relative;
    display: inline-block;
    width: 25.6em;
    height: 6.3em;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
    line-height: 3em;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    margin: 3rem 0 3rem 1rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-animation: slide-in-left 2s ease-in-out 0.5s both;
    animation: slide-in-left 2s ease-in-out 0.5s both;
}

a.button svg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

a.button svg g line,
a.button svg g polyline,
a.button svg g circle {
    fill: none;
    stroke: #fff;
}

a.button svg g line,
a.button svg g polyline {
    stroke-miterlimit: 10;
}

a.button svg g circle {
    display: block;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.066em;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset ease-out 0.5s;
}

a.button font {
    z-index: 2;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.8em;
}

a.button:hover {
    -webkit-transform: translateZ(0) translateX(0.5em);
    transform: translateZ(0) translateX(0.5em);
}

a.button:hover svg g circle {
    stroke-dashoffset: 200;
}

/* BENEFIT */
#benefit h1 {
    text-align: left;
    font-weight: bolder;
    margin-left: 1rem;
    margin: 1rem 0 0 1rem;
}

#benefit li {
    width: 100%;
    list-style: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px 0 0 20px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

#benefit hr {
    margin-right: auto;
}

/* DESIGN */
#design {
    padding-bottom: 1rem;
    text-align: right;
}

#design>h1 {
    font-weight: bolder;
    margin-right: 1rem;
}

#design>div>div {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border: 0px;
}
#design>div>.card {
    border-radius: 35%;
    border: 0.2em solid pink;
    margin: 1rem;
}
#design>div>div>.card-img {
    width: 100%;
    border-radius: 35%;
    border: 0.2em solid pink;
}

#design>hr {
    margin-left: auto;
}

/* BUY */
#buy {
    overflow: hidden;
}
#buy>h1 {
    font-weight: bolder;
    margin-left: 1rem;
}

#buy>hr {
    width: 90%;
}

#buy ul {
    list-style: none;
}
#buy li {
    margin-bottom: 2rem;
}
#buy li:first-child {
    margin-top: 4rem;
}

#buy i {
    margin-left: 1rem;
    margin-right: 1rem;
}
#buy > .container {
    padding: 3rem;
}
#buy a {
    width: 100%;
    border: 5px solid white;
    -webkit-animation: jello-horizontal 2s 10s infinite both;
    animation: jello-horizontal 2s 10s infinite both;
}


/* PRESETS */
:root {
    --primary: #D483AE;
}

hr {
    border: 1px solid white;
    border-radius: 10%;
    width: 60%;
}
@font-face { font-family: Nunito; src: url('Nunito-Bold.ttf'); } 
@font-face { font-family: Poppins; src: url('Poppins-Regular.ttf'); } 
@font-face { font-family: Pacifico; src: url('Pacifico-Regular.ttf'); } 

/* ----------------------------------------------
 * Generated by Animista on 2019-11-25 0:26:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-br
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-br {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-br {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
        
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-11-25 0:19:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2019-11-25 0:22:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);

      opacity: 1;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2019-11-25 0:31:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  