/* 6/11/2020 - Samuele Bertocco */

/* 
SECTION:
    1. LANDING
    2. INFO
    3. PRODUCT
    4. EVENT
    5. ABOUT
*/

/* General Style */

body, html {
    overflow-x: hidden;
}

.iconify {
    width:24px !important;
    height: 24px !important;
}

/* NAVBAR -start */

nav {
    transition: 0.25s ease-out;
    background-color: #212121;
}
#navbarNav .navbar-nav:first-child {
    width: 100%;
    justify-content: left;
}

/* LANDING - start */

#landing {
    /* Photo by Curren Podlesny on Unsplash */
    background-image: url('./img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: inset 0px 0px 225px 225px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 225px 225px rgba(0,0,0,0.5);
}
#landing div {
    display: flex;
    height: calc(100vh - 40px);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* Circle inset shadow */

}

#landing div h2 {
    color: #f5f5f5;
    font-size: 3rem;
}

#landing div h4 {
    color: #FFD200;
}

#landing .arrow {
    position: relative;
    bottom: 1rem;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
}
/* LANDING - end */

/* INTRO -start */
#intro {
    margin: 0;
    text-align:center;
    padding-top: 3rem;
}



#intro div p {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

#intro div div.row {
    padding: 3rem 0;
}

#intro div div.row div.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro div div.row div.col .img-container {
    width: 5rem;
    height: 5rem;
    border: 2px solid  #FFD200;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1.5rem ;

}
#intro div div.row div.col .img-container img {
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
}

#intro div div.row div.col a{
    color: #FFD200;
}

/* INTRO - end */
/* INFO - start */

#info div div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    min-height: 50vh;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3);
}

#info div div:first-child {
    background-image: url('./img/sos.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#info div div:first-child h3 {
    color: #f5f5f5;
    text-align: left;
    font-size: 5rem;
    margin-left: 2rem;

}

#info div div:last-child {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#info div div:last-child h3 {
    font-size: 2rem;
    font-weight: 600;
}


#info div div:last-child p {
    margin: 1rem 0;
    font-size: 18px;
}

#info div div:last-child p img {
    width:36px;
    margin-right: 0.5rem;
    /* border: 1px solid #FFD200; */
    padding: 6px;
    /* border-radius: 50%; */
}


/* INFO - end */


/* PRODUCT -start  */

#product .svg-winwoman {
    position: absolute;
    left: 1rem;
}

#product div.row div.col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    min-height: 500px;
}

#product div h3 {
    color: #F7971E;
    font-weight: 600;
}

#product div.row div.col .carta {
    background-color: #fff;
    bottom: 0;
    height: 300px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    transition: 0.25s ease-out;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    
}
#product div.row div.col .carta:hover {
    height: 450px;
    width: 300px;
    transition: 0.25s ease-out;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}
#product div.row div.col .carta:hover .cta-container {
    display: inline;
    margin-top: 380px;
    transition: 0.25s ease-out;

}
#product div.row div.col .carta:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
    transition: 0.25s ease-out;

}
#product div.row div.col .carta:hover h2 {
    background: #F7971E;
    color: #fff;
    margin-top: 100px;
    padding: 5px;
    transition: 0.25s ease-out;

}
#product div.row div.col .carta:hover h2 small {
    color: #fff;
    transition: 0.25s ease-out;
}
#product div.row div.col .carta:hover p:not(.cta) { 
    margin-top: 300px;
    transition: 0.25s ease-out;
}
.card_circle {
    background: url('http://lorempixel.com/400/200') no-repeat center bottom;
    background-color: #F7971E;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 450px;
    transition: 0.25s ease-out;
}

#product div.row div.col .carta h2 {
    color: #F7971E;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    transition: 0.25s ease-out;

}
#product div.row div.col .carta p:not(.cta) {
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    transition: 0.25s ease-out;
    z-index: 2;
}

.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: 0.25s ease-out;
    z-index: 2;
}
.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #F7971E;
    border-radius: 3px;
    color: #F7971E;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.25s ease-out;
}
.cta:hover {
    background-color: #F7971E;
    color: #fff;
    transition: 0.25s ease-out;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

/* PRODUCT - end  */

/*  EVENT - start */

#event {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2rem 0;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3);
}
#event h3 {
    font-weight: 700;
}
.event-card {
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
}
.event-card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    transition: 0.25s ease-out;

}

/*  EVENT - end */

/*  ABOUT - start */

#about {
    padding: 2rem 0;
    background-color: #212121;
}

#about .container h3 {
    color: white;
    font-weight: 700;
}


#about .container p {
    color: white;
}

.footer-profile-pic {
    height: 100px;
    background-color: #FFD200;
    border-radius:50%;
    border: 2px solid  #F7971E;
}

#about .container .row .col:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  ABOUT - end */


/* HOVER PAGE -start  */

#hover-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display:none
}
#hover-wrap div.container {
    background:white;
    margin: auto;
    padding: 24px;
    border-radius: 12px;
}
.hover-img {
    background-image: url('https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
    background-size: cover;
    background-position: 90 center;
    width: 100%;
    min-height: 20vh;
}

/* HOVER PAGE - end  */

/* ------------------------------------------------------------------------------ */
/* Associativa - start */
/* ------------------------------------------------------------------------------ */

#hero {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/hero.jpg);
    -webkit-box-shadow: inset 0px 0px 225px 225px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 225px 225px rgba(0,0,0,0.5);
    color:white;

}

#hero h3 {
    color: #FFD200;
    font-size: 36px;
}

#help .row .col:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------------------------------------------------------------------------ */
/* RESPONSIVE STYLES */
/* ------------------------------------------------------------------------------ */

/* TABLET */

@media (max-width: 992px) { 
    /* navbar */
    #navbarNav .navbar-nav:last-child {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

    #navbarNav .navbar-nav:last-child li {
        margin: 0.25rem 0.5rem;
    }

    /* svg winwoman */
    .svg-winwoman {
        display: none;
    }
    
 }


 
/* ------------------------------------------------------------------------------ */
/* ANIMATIONS */
/* ------------------------------------------------------------------------------ */

/* Animation for arrow */

.bounce {
    animation: bounce 2s infinite;
    cursor: pointer;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }