 * {margin:0; padding: 0;box-sizing: border-box;}
body {
  margin: 0;
  padding: 2rem;
  background: #43C6AC;
  	text-align: center;
	overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 { 
	color: #001b44;
	text-shadow: 1px 1px 1px white;
	 }
input {
	height: 4rem;
	border:2px solid #191654;
}
button {
	height: 4rem;
	color: white;
	font-weight: bold;
	border: 0px;
	background: #191654;
}
div > ul > li {
	list-style: none;
	font-size: 3rem;
	border: 1px solid  #001b44;
	padding: 1rem;

}