/* Box superiore */

div {
   display: block;
   text-align: center;
}

div input {
   vertical-align: middle;
   margin: 5px 0 5px 0;
   padding: 10px;
   background-color: #fff;
   border: 1px solid #ddd;

}
div button {
   padding: 10px 20px;
   background-color: dodgerblue;
   border: 1px solid #ddd;
   color: white;
}

div button:hover {
   background-color: royalblue;
   cursor: pointer;
}

@media (max-width: 800px) {
  div input {
    margin: 10px 0;
  }

  div {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Lista */

ul {
  background: dodgerblue;
  padding: 20px;
  list-style: none;

}

ul li {
   background: #cce5ff;
   margin: 5px;
   position: relative;
   text-align: left;
   font-size: 18px;
   height: 20px;
}

li button {
   float: right;
   background-color: #cce5ff;
   color: royalblue;
   border: none;
   font-size:18px;
   height: 20px; 
}

li button:hover {
   background-color: royalblue;
   cursor: pointer;
   color: white;
}

ul li:hover {
   cursor: pointer;

}


/* Variazioni */
ul li.done {
  text-decoration: line-through;
}

ul li.canc {
   visibility: hidden;
}

