
/* canvas styles */
html {
	font-family: 'Varela Round', sans-serif;
}
/* draggable targets */
[data-draggable="target"]
{	
	width: 100%;
	overflow-y:auto;
	background:#ddd;
}

/* draggable items */
[data-draggable="item"]
{
	display:inline-block;
	width: 25vw;
	height: 25vw;
	background-image: url(https://images.unsplash.com/photo-1530651079803-50c9ac969e90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
	background-position: start;
	background-repeat: no-repeat;
	background-size: cover;
}

.bottomBar {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	bottom:0;
	width: 100%;

}
/*RFS*/
@media (max-width: 1200px) { legend { font-size: calc(1.275rem + 0.3vw); } h1, .h1 { font-size: calc(1.375rem + 1.5vw); } h2, .h2 { font-size: calc(1.325rem + 0.9vw); } h3, .h3 { font-size: calc(1.3rem + 0.6vw); } h4, .h4 { font-size: calc(1.275rem + 0.3vw); } .display-1 { font-size: calc(1.725rem + 5.7vw); } .display-2 { font-size: calc(1.675rem + 5.1vw); } .display-3 { font-size: calc(1.575rem + 3.9vw); } .display-4 { font-size: calc(1.475rem + 2.7vw); } .close { font-size: calc(1.275rem + 0.3vw); } }
