* {
	font-family: 'Dosis', sans-serif;
	}



nav li {
display: inline-block;
height: 100px
border: 10px solid rgb(85, 14, 82);
background-color: rgb(106, 158, 152);
color: purple;
font-weight: bold;
font-size: 2em;
margin: 10px;

}

li a:link {
text-decoration: none;
color: rgb(85, 14, 82);
border: 2px solid rgb(85, 14, 82);
}

li a:visited {
text-decoration: none;
color: rgb(85, 14, 82);
}

li a:hover {
	background-color: rgb(85, 14, 82);
	color: rgb(106, 158, 152);
	cursor: pointer;
	border: 2px solid rgb(85, 14, 82);
}

body {
	background-image: url(background.jpg);
	background-repeat: repeat;
 	background-attachment: fixed;
  	background-position: center; 

}

body h1 {
	color: rgb(85, 14, 82);
	background-color: rgb(106, 158, 152);
	border: 5px solid rgba(85, 14, 82, 0.8);
	font-size: 3em;
	text-align: left;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	margin:10px;
	padding: 10px;
}

body p {
	/*border-radius: 10px;*/
	font-size: 2em;
	background-color: rgba(106, 158, 152, 0.8);
	border: 5px solid rgba(85, 14, 82, 0.8);
	margin:10px;
	padding: 10px;
	text-align: left;
}

footer {
	border: 5px solid rgba(85, 14, 82, 0.8);
	background-color: rgba(106, 158, 152, 0.8);
	margin:10px;
	padding: 10px;
}
body img {
	float: left;
	margin: 10px;
	padding: 10px;
  	
}



