.game-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dot0,#dot1,#dot2,#dot3,#dot4,#dot5,#dot6,#dot7,#dot8,#dot9,#dot10,#dot11,#dot12 {
    cursor: pointer;
}
.link-home {
    position: fixed;
    top: 1rem;
    left: 1rem;
}