body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    min-height: 100vh;
    padding-top: 1rem;
}
#game {
    display: grid;
    height: 100vw;
}
#game span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game span.live {
    background-color: #759973;
}

#button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;

}

@media only screen and (min-width: 600px) {
    #game {
        height: 93vh;
        width: 93vh;
        margin: 0 auto;
        
    }
}