html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
}

body {
    font-family: 'ABeeZee', sans-serif;
    color: #fefefe;
    background-color: #282828;
}


/* NAVBAR */
#navbar {
    max-width: 100vw;
}
.menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    z-index: 9999;
    color: #fefefe;
    background-color: #282828;
}

a {
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: white;
}
/* Home */
img.dino {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 35vh;
}
/* Skils */
#skills img {
    max-width: 42px;
    max-height: 42px;
}

/* Works */


/* ANIMATION */
#menu_link a:nth-child(1) {-webkit-animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) both}
#menu_link a:nth-child(2) {-webkit-animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) 0.05s both;animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) 0.1s both}
#menu_link a:nth-child(3) {-webkit-animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) 0.07s both;animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) 0.25s both}
#menu_link a:nth-child(4) {-webkit-animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) 0.08s both;animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) 0.35s both}
@-webkit-keyframes slide-right{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes slide-right{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}

/* General */

.text-primary {
    color: #8F88FF !important;
}

input {
    background: transparent !important;
    background-color: transparent !important;
    color: #fefefe !important;
}
input:focus {
    border-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
    color: #fefefe !important;

}