* {
	margin:0;
	padding:0;
	box-sizing: border-box;

}
body {
	text-align: center;
	background-color: #E5E5E5;
}
body > div {
	padding: 5rem;
}
svg {
	height: 40vh;
	padding: 1rem;
}
#Vector_21 {
	animation: updo 1s ease infinite;
	transform-origin: center;
	transform-box: fill-box;
}
#q-md {
	animation: updo 10s ease infinite;
	transform-origin: center;
	transform-box: fill-box;

}
#q-big  {
	animation: updo 20s ease infinite;
	transform-origin: center;
	transform-box: fill-box;
}
#Vector_18,#Vector_19, #Vector_20 {
	animation: spin 5s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}

@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@-ms-keyframes updo { 
    from { 
        -ms-transform: rotateY(0deg); 
    } to { 
        -ms-transform: rotateY(360deg); 
    }
}
@-moz-keyframes updo { 
    from { 
        -moz-transform: rotateY(0deg); 
    } to { 
        -moz-transform: rotateY(360deg); 
    }
}
@-webkit-keyframes updo { 
    from { 
        -webkit-transform: rotateY(0deg); 
    } to { 
        -webkit-transform: rotateY(360deg); 
    }
}
@keyframes updo { 
    from { 
        transform: rotateY(0deg); 
    } to { 
        transform: rotateY(360deg); 
    }
}