html,body {
	margin:0;
	padding:0;
	overflow: hidden;
}

* {
	font-family:  ubuntu;
}

.container {
	height:100vh;
	color: white;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

.row {
	display: flex;
	flex-direction:row;
}
.col {
	display:flex;
	flex-direction:column;
}

#title {
	z-index: 1;
	padding-bottom: 12px;
}
#title h1 {
	font-size: 7rem;
    margin: 0;
    margin-top: 1rem;
    font-weight: bolder;
}

#tableWrapper {
	width:500px;
	height:500px;
	background: url("./Table.svg");
	color: #000000;
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.wrapper-row {
	display: flex;
	flex-direction:row;
	height: 100px;
	justify-content: space-evenly;
	align-items:center;
}

.wrapper-row:nth-child(2), .wrapper-row:nth-child(4)  {
	justify-content:space-around;
}

.wrapper-col {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	min-width: 100px;
}
.wrapper-col:hover {
	cursor: pointer;
}
 span {
 	font-size:24px;
 	font-weight:  bolder;
 	padding:12px;
 }

css-doodle {
	width: 100vw;
	height:100vh;
	position:absolute;
	left:0;
	top:0;
}

@media only screen and (max-width: 700px) {
  #tableWrapper {
  	width: 250px;
    height: 250px;
  }
  .wrapper-row {
	height: 50px;
  }
  .wrapper-col {
  	min-width: 50px;
  }

}